.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

figure.align-center {
    text-align: center;
}


/* Spacing for unordered lists (ul) */
ul li {
    margin-bottom: 10px; /* Value can be adjusted */
}

/* Spacing for ordered lists (ol) */
ol li {
    margin-bottom: 10px; /* Value can be adjusted */
}

/* Spacing for nested lists */
ul ul li, ol ol li {
    margin-bottom: 5px; /* Value can be adjusted */
}

.admonition.my-custom-admonition {
    background-color: #c5dbec;
    border-left: 4px solid #0f87e3;
    color: #000
}